# This is a basic workflow to help you get started with Actions

name: ESP Web Tools Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ espwebtools ]
    paths:
      - 'src/**'
      - 'platformio.ini'
      - 'sdkconfig.defaults'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: esp-idf dependency
        run: pip install setuptools

      - run: pip install esptool
      
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build PlatformIO Project
        run: pio run

      - run: find . -type f | grep '\.bin'
      
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: firmware
          path: ./.pio/build/release/merged-firmware.bin
        
